/* Estilos del terrario */
h1 {
    color: rgb(3, 49, 3);
    text-align: center;
}

.container{
    background-color: #eee;
    width: 15%;
    height: 100%;
    top: 10px;
    position: absolute;
    padding: 10px;
}

#left-container{  
    left: 0px;
}
#right-container{
    right: 0%;  
}

.plant-holder{ 
    position: relative;
    height: 13%;
    left: -10px;
}

.plant{
    position: absolute;
    max-width: 150%;
    max-height: 150%;
    z-index: 2;
}

.jar-walls{
    height: 80%;
    width: 60%;
    background-color: #99dad3;
    border-radius: 1rem;
    position: absolute;
    left: 20%;
    bottom: 0.5%;
    opacity: 0.5;
}

.jar-top{
    height: 6.8%;
    width: 50%;
    position: absolute;
    background: #99dad3;
    opacity: 0.5;
    left: 25%;
    bottom: 80.5;
    border: 3px;
}

.dirt{
    position: absolute;
    height: 7%;
    width: 60%;
    left: 20%;
    bottom: 1%;
    border: 3px;
    background: #3d1803;
    border-radius: 0rem 0rem 1rem 1rem;
    z-index: -1;
}

.jar-glossy-long {
    position: absolute;
    height: 30%;
    width: 5%;
    left: 3%;
    bottom: 55%;
    border-radius: 4rem 4rem 4rem 4rem;
    
    background: #cbe7ec;
}

.jar-glossy-short{
    position: absolute;
    height: 15%;
    width: 5%;
    left: 3%;
    bottom: 30%;
    border-radius: 4rem 4rem 4rem 4rem;
    
    background: #cbe7ec;
}
