/* Estilos del terrario */
h1 {
    color: rgb(3, 49, 3);
    text-align: center;
}

.container{
    background-color: #eee;
    width: 15%;
    height: 100%;
    top: 10px;
    position: absolute;
    border: 3px;
    border-style: dashed;
    border-color: blueviolet;
    padding: 10px;
}

#left-container{  
    left: 0px;
}
#right-container{
    right: 0%;  
}

.plant-holder{ 
    position: relative;
    height: 13%;
    left: -10px;
    border: 3px;
    border-style: dashed;
    border-color: rgb(35, 219, 195);
    
}

.plant{
    position: absolute;
    max-width: 150%;
    max-height: 150%;
    z-index: 2;
}

